/*------------------------------------------------------------------
[Table of contents]
#. Style Guide
1. Universal Styles
2. Header / #header, #navbar
3. Body
4. Box Content
5. Footer / #footer
-------------------------------------------------------------------
# [Style Guide]

  # [Fonts]

    # [Body Font]
      # font-family: proxima-nova, sans-serif;
      # font-style: normal;
      # font-weight: 400;
    #
  #

  # [Color codes]
    # Red (Header BG, H2 Titles, Main Li) #B90504
    # Dark Gray (Navbar BG, Body Text)  #333333
    # White (Nav Links, Column BG) #ffffff
    # Light Gray (Background): #666666
    # Dark Red (Footer) #990100
  #
#
-------------------------------------------------------------------*/


/*-----------------
1. UNIVERSAL STYLES
-----------------*/

*{
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
}

body{
  background-color: #E8E8E8;
  color: #333;
}

li{
  list-style: none;
}

.bold{
  font-weight: 700;
}


/*--------------
2. HEADER ******
--------------*/

#header{
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

  #top-header, #navbar{
    box-shadow: 0 4px 7px rgba(0,0,0, 0.4);
    display: flex;
    height: 4rem;
    justify-content: space-between;
    text-align: center;
  }

  #top-header{
    background-color: #B90504;
  }


  #navbar{
    background-color: #333333;
  }


  .header-branding{
    color: #fff;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: 2.5rem;
  }

  .nav-list{
    margin-left: 1rem;
    align-self: center;
  }


  .log-in-list, .nav-list{
    display: flex;
    justify-content: space-around;
  }

  .log-in-list--item, .nav-list--item a{
    color: white;
    margin: auto;
    margin-right: 1.5rem;
  }

  .nav-list--item:last-child{
    margin-right: 0rem;
  }


  /*--------------
  3. BODY
  --------------*/

@media(max-width: 950px){
  .sidebar{
    display: none;
  }
  .three-column{
    margin-top: 10rem;
    display: flex;
  }

}
@media(min-width: 951px){
  .three-column{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 2rem;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 10rem;
  }
}

.column-reverse{
  display: flex;
  flex-direction: column-reverse;
}


main ul li a{
    color: #B90504;
    margin-bottom: 0.5rem;
  }

/*--------------
4. Box Content
--------------*/

.white-box{
  background-color: #F6F6F6;
  
  box-shadow: 0 0px 3px rgba(0,0,0, 0.1),0 1px 0 rgba(0,0,0,.01);
  margin-bottom: 0.7rem;
  padding: 2rem;
}

.section-title{
  color:#B90504;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.two-column{
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.article-header{
  font-size: 3rem;
}

.article-subheader{
  margin-top: 1rem;
  font-size: 1.5rem;
}

.beer-img img, .beer-rating-icon img{
  height: auto;
  margin-top: 1rem;
  width:150px;
}

.beer-img img{
  box-shadow: 0 0px 3px rgba(0,0,0, 0.1),0 1px 0 rgba(0,0,0,.01);
}

.article-footer{
  align-items: baseline;
  height: 3rem;
  margin-top: 1rem;
}

.fading-button{
  background: none;
  border: 0;
  margin: 0;
  opacity: 0.5;
  padding: 0;
}

.fading-button:hover {
  opacity: 1;
}

button img{
  height: 20px;
  width: auto;
}

.sidebar .white-box{
  padding-bottom: 1.3rem;
}


/*--------------
3. FOOTER
--------------*/

footer{
  background: #990100;
  bottom: 0%;
  height: 2rem;
  position: fixed;
  width: 100%;
}
