<!DOCTYPE HTML>

<head>
  <title>Review Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/homestyle.css">


</head>

<body>
  <header>
    <div class="header__main">
      <div class="branding">
        <h1>loremBeer</h1>
      </div>
      <ul class="log-in-list">
        <li class="log-in-list_item">Log In</li>
        <li class="log-in-list_item">Sign Up</li>
      </ul>
    </div>

    <div class="header__nav">
      <ul class="nav-list">
        <li class="nav-list_item"><a href="/">Home</a></li>
        <li class="nav-list_item"><a href="/">Reviews</a></li>
        <li class="nav-list_item"><a href="/review/submit">Submit Review</a></li>
      </ul>
    </div>
  </header>

  <main>

    <div class="container grid_container">
      <div class="box left">
        <h2 class="section-title">
          Popular Styles</h2>
        <section class="sidebar sidebar_left">
          <div th:each="type : ${categories}">
            <ul>
              <li><a th:text="${type.beerType}" th:href="@{|/category/${type.id}|}"></a></li>


            </ul>
          </div>
        </section>
      </div>
      <div class="box center">
        <h2 th:text="|${beer.beerName}, by ${beer.brewery}|" class="section-title">Default Text</h2>
        <section class="section section-center">
          <div class="wrapper wrapper_article">
            <article>
              <p th:text="${beer.beerName}"></p>
              <p th:text="${beer.getBeerOverallRating()}"></p>

              <!--<p th:each="tags live here"></p>-->
              <ul th:each="tag : ${beer.tags}"</ul>
                <li th:text="${tag.tagName}">beer tag</li>
                </ul>

              <form class="tag-form" th:action="|/beer/${beer.id}|" method="POST">


                <li class="form-list--item">
                  <p>Tasting note:</p>
                </li>
                <li class="form-list--item"><input type="text" name="tagName"></p>
                </li>
                <li class="form-list--item"> <button type="submit">Submit</button></li>



              </form>

            </article>
          </div>
          <div class="wrapper wrapper_article">
            <article th:each="review : ${beer.reviews}">


              <a th:href="@{|review/${review.id}|}"><h2 class="article_title" th:text="${review.title}">Delicious IPA from Whylan</h2></a>
              <h1 class="beer-rating" th:text="${review.rating}">* * * * *</h1>

              <div class="review-components">


                <h5 class="article_date" th:text="|Date drank: ${review.date}|">Date drank: 1/21/19</h5>



              </div>


              <div class="article-content">
                <h3 th:text="${review.review}">17.6° Plato OG 1072.2 ABV 7.1%

                  IPA... Big, bold and creamy with a heavy dose of wheat and flakes backed up with an amalgam of new
                  season tropical hop treats including Citra, Chinook, Centennial and Mosaic. Big,ripe and fleshy with a
                  soft fruit fullness and a pulpy, whipped velvety finish. Now that you know what goes there, what’s to
                  stop you taking it home?</h3>
              </div>



            </article>
          </div>
          <!--close article wrapper-->
        </section>
      </div>
      <div class="box right">
        <h2 class="section-title">Stuff Right</h2>
        <section class="sidebar sidebar_right">
          Right
        </section>
      </div>
    </div>
    <footer>footer</footer>






  </main>

</body>

</html>