<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/homestyle.css">
  <link rel="stylesheet" href="/css/beerstyles.css">
  <link rel="stylesheet" href="https://use.typekit.net/onm0xcg.css">
  <!--Adobe fonts: Licensed to Chad Collins 2019-->
  <title>LoremBeer</title>
</head>

<body>


  <!--FIXED DOUBLE HEADER AREA
      #top-header (.branding, .log-in-list)
      #navbar (.nav-list) -->
  <header id="header">
    <div id="top-header">
      <h1 class="header-branding">beercolumb.us</h1>
      <ul class="log-in-list">
        <li class="log-in-list--item">Log In</button></li>
        <li class="log-in-list--item">Sign Up</li>
      </ul>
    </div>
    <!--Close top-header-->

    <div id="navbar">
      <ul class="nav-list">
        <li class="nav-list--item"><a href="/">Home</a></li>
        <li class="nav-list--item"><a href="/">Reviews</a></li>
        <li class="nav-list--item"><a href="/review/submit">Submit Review</a></li>
      </ul>
    </div>
    <!--Close navbar-->
  </header>

  <main>
    <!--MAIN BODY THREE COLUMN GRID
      #left-column(Popular Styles)
      #center-column
      #right-column -->
    <div class="three-column grid">
      <section id="left-column" class="sidebar">
        <h2 class="bold section-title">Popular Styles</h2>
        <div class="white-box">
          <ul th:each="type : ${categories}">
            <li><a th:text="${type.beerType}" th:href="@{|/category/${type.id}|}"></a></li>
          </ul>
        </div>
      </section>
      <!--Close left-column-->


      <section id="center-column">
        <article class="white-box">
          <div class="two-column grid">
            <div class="grid--left">
              <h1 th:text="${beer.beerName}" class="section-title">Default Text</h1>
              <h2 th:text="|Brewed by: ${beer.brewery}|">Brewed by: Wylam</h2>
              <h2 th:text="|Style: ${beer.beerType}|">Style: IPA</h2>
              <h2>Overall Rating:</h2>
              <h2 class="bold" th:text="${beer.beerOverallRating}"></h2>
              <!--<p th:each="tags live here"></p>-->
              <form class="tag-form" th:action="|/beer/${beer.id}|" method="POST">
                <li class="form-list--item">
                  <p>Add a tag:</p>
                </li>
                <li class="form-list--item"><input class="review-input" type="text" placeholder="hoppy, citrus, etc."
                    name="tagName"></p>
                </li>
                <li class="form-list--item"> <button type="submit">Submit</button></li>
              </form>
            </div>
          <!--two-column-grid-->
          <div class="grid--right">
            <ul th:each="tag : ${beer.tags}">
              <li><a th:href="@{|~/tag/${tag.id}|}" th:text="${tag.tagName}"></a></li>
            </ul>
          </div>
          <!--end two-column-grid-->
        </article>
        <div class="column-reverse">
          <article class="white-box" th:each="review : ${beer.reviews}">
            <h2 class="article-header" th:text="${review.beer.beerName}">Chasing Mirrors</h2>
            <div class="two-column grid">
              <div class="grid--left">
                <h3 th:text="|Brewed by: ${review.beer.brewery}|">Brewed by: Wylam</h3>
                <h4 th:text="|Style: ${review.beer.beerType}|">Style: IPA</h4>
                <h3 th:text="${review.title}">Delicious IPA from Whylan</h3>
                <!--beer rating icon-->
                <div th:switch="${review.rating}">
                  <figure class="beer-rating-icon" th:case="1"><img src="/images/1star.png"></figure>
                  <figure class="beer-rating-icon" th:case="2"><img src="/images/2star.png"></figure>
                  <figure class="beer-rating-icon" th:case="3"><img src="/images/3star.png"></figure>
                  <figure class="beer-rating-icon" th:case="4"><img src="/images/4star.png"></figure>
                  <figure class="beer-rating-icon" th:case="5"><img src="/images/5star.png"></figure>
                </div>
                <a class="article-subheader" th:href="@{|review/${review.id}|}">
                  Read Full Review</a>
              </div>

              <div class="grid--right">
                <figure class="beer-img"><img th:src="${review.beer.imgUrl}" alt="user submitted image of beer">
                </figure>
              </div>
            </div>
            <!--close two-column-grid-->
            <div class="two-column article-footer">
          </article>
      </section>
      <!--Close center-column-->

      <section id="right-column" class="sidebar">
        <h2 class="bold section-title">Stuff Right</h2>
        <div class="white-box">
          <p>Right</p>
        </div>
      </section>
    </div>
    <!--Close three-column-grid-->

    <footer><small>footer</small></footer>
  </main>
</body>

</html>