<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="https://use.typekit.net/onm0xcg.css">
    <!--Adobe fonts: Licensed to Chad Collins 2019-->
    <title>LoremBeer</title>
</head>

<body>


    <!--FIXED DOUBLE HEADER AREA
              #top-header (.branding, .log-in-list)
              #navbar (.nav-list) -->
    <header id="header">
        <div id="top-header">
            <h1 class="header-branding">beercolumb.us</h1>
            <ul class="log-in-list">
                <li class="log-in-list--item">Log In</button></li>
                <li class="log-in-list--item">Sign Up</li>
            </ul>
        </div>
        <!--Close top-header-->

        <div id="navbar">
            <ul class="nav-list">
                <li class="nav-list--item"><a href="/">Home</a></li>
                <li class="nav-list--item"><a href="/">Reviews</a></li>
                <li class="nav-list--item"><a href="/review/submit">Submit Review</a></li>
            </ul>
        </div>
        <!--Close navbar-->
    </header>

    <main>
        <!--MAIN BODY THREE COLUMN GRID
              #left-column(Popular Styles)
              #center-column
              #right-column -->
        <div class="three-column grid">
            <section id="left-column" class="sidebar">
                <h2 class="bold section-title">Popular Styles</h2>
                <div class="white-box">
                    <ul th:each="type : ${categories}">
                        <li><a th:text="${type.beerType}" th:href="@{|/category/${type.id}|}"></a></li>
                    </ul>
                </div>
            </section>
            <!--Close left-column-->

            <section id="center-column">
                <h2 class="bold section-title" th:text="|${category.beerType} List|">Beer Type Header</h2>
                <div class="column-reverse">

                    <article class="white-box">
                        <ul th:each="beer : ${category.beers}">
                                <li><a th:href="@{|/beer/${beer.id}|}" th:text="|${beer.beerName}, by ${beer.brewery}|"></a></li>
                        </ul>
                    </article>
                </div>
            </section>
            <!--Close center-column-->

            <section id="right-column" class="sidebar">
                <h2 class="bold section-title">Stuff Right</h2>
                <div class="white-box">
                        <figure class="advertisement"><img src="/images/cereal-ad.png"></figure>
                        <small>Advertisement</small>
                </div>
            </section>
        </div>
        <!--Close three-column-grid-->

        <footer><small>&copy; 2019 BeerColumb.us</small></footer>
    </main>
</body>

</html>