<!DOCTYPE HTML>

<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    <link rel="stylesheet" href="/css/homestyle.css">


</head>

<body>
    <header>
        <div class="header__main">
            <div class="branding">
                <h1>loremBeer</h1>
            </div>
            <ul class="log-in-list">
                <li class="log-in-list_item">Log In</li>
                <li class="log-in-list_item">Sign Up</li>
            </ul>
        </div>

        <div class="header__nav">
            <ul class="nav-list">
                <li class="nav-list_item"><a href="/">Home</a></li>
                <li class="nav-list_item"><a href="/reviews.html">Reviews</a></li>
                <li class="nav-list_item"><a href="/form">Submit Review</a></li>
            </ul>
        </div>
    </header>

    <main>

        <div class="container grid_container">
          <div class="box left">
            <h2 class="section-title">
            Stuff Left</h2>
            <section class="sidebar sidebar_left">
              Content here
          </section>
      </div>
      <div class="box center">
        <h2 class="section-title">Latest</h2>
        <section class="section section-center">
          <div class="wrapper wrapper_article">
            <article>
            <form action="form" method="POST">
                <p>Beer: <input type="text" name="beer"/></p>
                <p>Title: <input type="text" name="title"/></p>
                <p>Date: <input type="text" name="date"/></p>
                <p>Rating: <input type="text" name="rating"/></p>
                <p>Review: <input type="text" name="review"/></p>
                <button type="submit">Submit</button>
            </form>
        </article>
        </div>
        <!--close article wrapper-->
    </section>
</div>
<div class="box right">
    <h2 class="section-title">Stuff Right</h2>
    <section class="sidebar sidebar_right">
      Right
  </section>
</div>
</div>
<footer>footer</footer>






</main>

</body>

</html>