
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/homestyle.css">
    <title>LoremBeer</title>
</head>

<body>
    

    
  <header>
    <div class="header__main">
    <div class="branding"><h1>beercolumb.us</h1></div>
  <ul class="log-in-list"> 
    <li class="log-in-list_item"><button class="log-in-button">Log In</button></li>
    
    <li class="log-in-list_item"><button class="log-in-button">Sign Up</button></li>
  </ul>
  </div>
  
  <div class="header__nav">
    <ul class="nav-list">
    <li class="nav-list_item"><a href="/">Home</a></li>
      <li class="nav-list_item"><a href="/reviews.html">Reviews</a></li>
     <li class="nav-list_item"><a href="/form">Submit Review</a></li>
    </ul>
     <input type="text" placeholder="Search...">
  </div>
  </header>
  
  <main>
    <div class="container grid_container">
      <div class="box left">
       <h2 class="section-title">
         Stuff Left</h2>
    <section class="sidebar sidebar_left">
Content here
    </section>
      </div>
    <div class="box center">
      <h2 class="section-title">Latest</h2>
    <section class="section section-center"> 
      <div class="wrapper wrapper_article">
    <article>
      <h2 class="article_title">This one got me shit faced </h2>
      <h3 class="article_author">This one got me shit faced </h3>
      <h3 class="article_date">2/19/19 </h3>
      
      <div class="beer-rating">
      <h3 class="beer-rating_title">Beer Rating:</h3>
      <h3 class="beer-rating_score">5</h3>
      </div>
        
        <div class="article-content">
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed metus id quam lacinia feugiat commodo a erat. Sed eget rhoncus libero. Praesent facilisis, neque in euismod commodo, magna metus semper ligula, ac faucibus dolor ipsum vitae felis. Sed erat mauris, viverra ac venenatis ac, gravida viverra elit. Praesent pharetra volutpat semper. Nam aliquet rutrum tortor et auctor. Nullam lorem tellus, varius accumsan aliquam eget, commodo nec neque. Nulla facilisi. Morbi metus ante, aliquet quis justo vitae, tincidunt blandit dolor. Aliquam ac lacinia nibh, at porta turpis. Nulla ut est ac lorem mollis varius at quis arcu. Suspendisse vehicula neque elit, non ultrices leo venenatis et.</p>
  
  <p>Aliquam non sem sed nulla aliquam bibendum. Phasellus maximus elementum elementum. Nulla aliquet, mi ac pellentesque feugiat, ipsum quam venenatis elit, ut commodo est ipsum nec nunc. Fusce ullamcorper posuere dolor, in viverra sapien volutpat vel. Vivamus metus est, rhoncus a pulvinar sed, malesuada sed tellus. Phasellus viverra dignissim imperdiet. Quisque consectetur, purus vitae commodo tempor, ipsum nunc semper nisl, nec commodo tellus diam vel diam. Morbi lorem odio, sagittis eget leo vitae, blandit accumsan diam. Nunc eget libero pulvinar, blandit augue ut, elementum elit. In a aliquam metus, a fermentum metus.</p>
  
  <p>Nullam eros metus, consectetur non efficitur sed, faucibus sit amet sapien. Ut ullamcorper molestie augue et gravida. Cras luctus ut orci sed gravida. Vivamus nec sollicitudin sem. Sed elementum massa a mi pretium, a eleifend ipsum imperdiet. Curabitur convallis et est nec tempor. Fusce eget mauris faucibus, hendrerit felis sed, porttitor risus. Pellentesque commodo accumsan purus auctor condimentum. Mauris ut facilisis sapien, in sodales libero. Praesent erat elit, venenatis vitae magna id, vestibulum lobortis leo. Sed tristique erat non posuere luctus. Nam feugiat purus sed lacus maximus tristique. Proin consequat sapien purus, quis ornare mauris vestibulum in. Nulla non lacus sem.</p>
          
    
  </article>
      </div> <!--close article wrapper-->
        
    </section>
      </div>
    
      <div class="box right">
        <h2 class="section-title">Stuff Right</h2>
      <section class="sidebar sidebar_right">
      
        Right
    </section>
      </div>
      
    </div>
    
    
    <footer>footer</footer>
    
    
    
  </main>

        
      
</body>

</html>