<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/homestyle.css">
  <title>LoremBeer</title>
</head>
<body>
  <header>
    <div class="header__main">
      <div class="branding">
        <h1>beercolumb.us</h1>
      </div>
      <ul class="log-in-list">
        <li class="log-in-list_item">Log In</button></li>
        <li class="log-in-list_item">Sign Up</li>
      </ul>
    </div>
    <div class="header__nav">
      <ul class="nav-list">
        <li class="nav-list_item"><a href="/">Home</a></li>
        <li class="nav-list_item"><a href="/">Reviews</a></li>
        <li class="nav-list_item"><a href="/review/submit">Submit Review</a></li>
      </ul>
      <input type="text" placeholder="Search...">
    </div>
  </header>
  <main>
    <div class="container grid_container">
      <div class="box left">
        <h2 class="section-title">
          Popular Styles</h2>
        <section class="sidebar sidebar_left">
         <div th:each="type : ${categories}">
        	<ul>
        		<li><a th:text="${type.beerType}" th:href="@{|/category/${type.id}|}"></a></li>
        		
        	
        	</ul>
         </div>
        </section>
      </div>
      <div class="box center">
        <h2 class="section-title">Latest</h2>
        <section class="section section-center">
          <div class="wrapper wrapper_article">
            <article th:each="review : ${reviews}">
              
              
              <a th:href="@{|review/${review.id}|}"><h2 class="article_title" th:text="${review.title}">Delicious IPA from Whylan</h2></a>
              <div th:switch="${review.rating}">
                <figure class="beer-rating-icon" th:case="1"><img src="/images/1star.png"></figure>
                <figure class="beer-rating-icon" th:case="2"><img src="/images/2star.png"></figure>
                <figure class="beer-rating-icon" th:case="3"><img src="/images/3star.png"></figure>
                <figure class="beer-rating-icon" th:case="4"><img src="/images/4star.png"></figure>
                <figure class="beer-rating-icon" th:case="5"><img src="/images/5star.png"></figure>
              <div class="review-components">
                
 
    
            
               
              <h4 class="article_beer-name" th:text="|Beer: ${review.beer.beerName}|">Beer: Chasing Mirrors</h4>
                
                
                         
              <h4 class="article_brewery" th:text="|Brewed by: ${review.beer.brewery}|">Brewed by: Wylam</h4>
              
              
             
                <h5 th:text="|Style: ${review.beer.beerType}|">Style: IPA</h5>
              
              
                            
              <h5 class="article_date" th:text="|Date drank: ${review.date}|">Date drank: 1/21/19</h5>
              
            <figure class="beer-img"><img th:src="${review.beer.imgUrl}" alt="user submitted image of beer"></figure>
         
              </div>
  
              
              <div class="article-content">
                <h3 th:text="${review.review}">17.6° Plato OG 1072.2 ABV 7.1%
 
 IPA... Big, bold and creamy with a heavy dose of wheat and flakes backed up with an amalgam of new season tropical hop treats including Citra, Chinook, Centennial and Mosaic. Big,ripe and fleshy with a soft fruit fullness and a pulpy, whipped velvety finish. Now that you know what goes there, what’s to stop you taking it home?</h3>
              </div>
              
              
              
            </article>
          </div>
          <!--close article wrapper-->
        </section>
      </div>
      <div class="box right">
        <h2 class="section-title">Stuff Right</h2>
        <section class="sidebar sidebar_right">
          Right
        </section>
      </div>
    </div>
    <footer>footer</footer>
  </main>
</body>
</html>
