<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="wrapper wrapper_article">
        <article>
           <form th:each = "form : ${forms}">
        <p th:text="'Beer: ' + ${form.beer}" />
        <p th:text="'Review: ' + ${form.review}" />
      </form>
          </div>
            
            <div class="article-content">
            
        
      </article>
          </div> <!--close article wrapper-->
</body>
</html>