<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/homestyle.css">
    <link rel="stylesheet" href="https://use.typekit.net/onm0xcg.css">
    <!--Adobe fonts: Licensed to Chad Collins 2019-->
    <title>LoremBeer</title>
</head>

<body>

    <!--FIXED DOUBLE HEADER AREA
      #top-header (.branding, .log-in-list)
      #navbar (.nav-list) -->
    <header id="header">
        <div id="top-header">
            <h1 class="header-branding">beercolumb.us</h1>
            <ul class="log-in-list">
                <li class="log-in-list--item">Log In</button></li>
                <li class="log-in-list--item">Sign Up</li>
            </ul>
        </div>
        <!--Close top-header-->

        <div id="navbar">
            <ul class="nav-list">
                <li class="nav-list--item"><a href="/">Home</a></li>
                <li class="nav-list--item"><a href="/beer/beerlist">Beers</a></li>
                <li class="nav-list--item"><a href="/review/submit">Submit Review</a></li>
            </ul>
        </div>
        <!--Close navbar-->
    </header>

    <main>
        <!--MAIN BODY THREE COLUMN GRID
      #left-column(Popular Styles)
      #center-column
      #right-column -->
        <div class="three-column grid">
            <section id="left-column" class="sidebar">
                <h2 class="bold section-title">Popular Styles</h2>
                <div class="white-box">
                    <ul th:each="type : ${categories}">
                        <li><a th:text="${type.beerType}" th:href="@{|/category/${type.id}|}"></a></li>
                    </ul>
                </div>
            </section>
            <!--Close left-column-->

            <section id="center-column">
                <h2 class="bold section-title">Review</h2>
                <article class="white-box">
                    <h1 class="article-header" th:text="${review.title}">Fabulous Beer that I had!</h1>
                    <h2 class="bold article-subheader" th:text="${review.beer.beerName}">Beer: Chasing Mirrors</h2>
                    <h3 th:text="|Brewed by: ${review.beer.brewery}|">Brewed by:Wylam</h3>
                    <h4 th:text="|Style: ${review.beer.beerType}|">Style: IPA</h4>
                    <h5 th:text="|Date drank: ${review.date}|">Date drank: 1/21/19</h5>
                    <!--beer rating icon-->
                    <div th:switch="${review.rating}">
                        <figure class="beer-rating-icon" th:case="1"><img src="/images/1star.png"></figure>
                        <figure class="beer-rating-icon" th:case="2"><img src="/images/2star.png"></figure>
                        <figure class="beer-rating-icon" th:case="3"><img src="/images/3star.png"></figure>
                        <figure class="beer-rating-icon" th:case="4"><img src="/images/4star.png"></figure>
                        <figure class="beer-rating-icon" th:case="5"><img src="/images/5star.png"></figure>
                    </div>
                    <figure class="beer-img"><img th:src="${review.beer.imgUrl}" alt="user submitted image of beer">
                    </figure>
                    <div class="article-content">
                        <p class="article-body" th:text="${review.review}">The review is here</h3>
                            <div class="article-footer">
                                <form class="create-comment" th:action="|/review/${review.id}|" method="POST">
                                    <input type="text" name="userComment" placeholder="Leave a comment.">
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                </article>

                <div class="column-reverse">
                    <article class="white-box" th:each="comment : ${review.comments}">
                        <p th:text="${comment.comment}"></p>
                    </article>
                </div>
            </section>
            <!--Close center-column-->

            <section id="right-column" class="sidebar">
                <h2 class="bold section-title">Stuff Right</h2>
                <div class="white-box">
                    <figure class="advertisement"><img src="/images/cereal-ad.png"></figure>
                    <small>Advertisement</small>
                </div>
            </section>
        </div>
        <!--Close three-column-grid-->

        <footer><small>&copy; 2019 BeerColumb.us</small></footer>
    </main>
</body>

</html>