<!DOCTYPE HTML>

<head>
    <title>Review Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    <link rel="stylesheet" href="/css/reviewform.css">


</head>

<body>
    <header>
        <div class="header__main">
            <div class="branding">
                <h1>loremBeer</h1>
            </div>
            <ul class="log-in-list">
                <li class="log-in-list_item">Log In</li>
                <li class="log-in-list_item">Sign Up</li>
            </ul>
        </div>

        <div class="header__nav">
            <ul class="nav-list">
                <li class="nav-list_item"><a href="/">Home</a></li>
                <li class="nav-list_item"><a href="/">Reviews</a></li>
                <li class="nav-list_item"><a href="/review">Submit Review</a></li>
            </ul>
        </div>
    </header>

    <main>

        <div class="container grid_container">
          <div class="box left">
            <h2 class="section-title">
            Stuff Left</h2>
            <section class="sidebar sidebar_left">
              Content here
          </section>
      </div>
      <div class="box center">
        <h2 class="section-title">Latest</h2>
        <section class="section section-center">
          <div class="wrapper wrapper_article">
            <article>
            <form action="review" method="POST">
                <p>Beer Name: <input type="text" name="beerName"></p>
              <p>Brewery: <input type="text" name="brewery"></p>
              <p>Type of Beer (IPA, Lager, etc): <input type="text" name="beerType"></p>
               
                <p>Date you drank this: <input type="date" name="date"></p>
             
              
              <div class="row radio">
                
                <p>Rate this beer (5 is best):</p> 
              <p class="radio--item"><input type="radio" name="rating" value="1">1</p>
              <p class="radio--item"><input type="radio" name="rating" value="2">2</p>
              <p class="radio--item"><input type="radio" name="rating" value="3">3</p>
              <p class="radio--item"><input  type="radio" name="rating" value="4">4</p>
              <p class="radio--item"><input type="radio" name="rating" value="5">5</p>
              
              </div>
            
              
               <p>Title your review: <input type="text" name="title"></p>
                <p>Give us a summary of your experience: <input type="text" name="review"></p>
                
                
                <button type="submit">Submit</button>
            </form>
        </article>
        </div>
        <!--close article wrapper-->
    </section>
</div>
<div class="box right">
    <h2 class="section-title">Stuff Right</h2>
    <section class="sidebar sidebar_right">
      Right
  </section>
</div>
</div>
<footer>footer</footer>






</main>

</body>

</html>