<!DOCTYPE HTML>

<head>
    <title>Review Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
    <link rel="stylesheet" href="/css/reviewform.css">


</head>

<body>
    <header>
        <div class="header__main">
            <div class="branding">
                <h1>loremBeer</h1>
            </div>
            <ul class="log-in-list">
                <li class="log-in-list_item">Log In</li>
                <li class="log-in-list_item">Sign Up</li>
            </ul>
        </div>

        <div class="header__nav">
            <ul class="nav-list">
                <li class="nav-list_item"><a href="/">Home</a></li>
                <li class="nav-list_item"><a href="/">Reviews</a></li>
                <li class="nav-list_item"><a href="/review/submit">Submit Review</a></li>
            </ul>
        </div>
    </header>

    <main>

        <div class="container grid_container">
          <div class="box left">
            <h2 class="section-title">
            Popular Styles</h2>
            <section class="sidebar sidebar_left">
              <div th:each="type : ${categories}">
        	<ul>
        		<li><a th:text="${type.beerType}" th:href="@{|/category/${type.id}|}"></a></li>
        		
        	
        	</ul>
         </div>
          </section>
      </div>
      <div class="box center">
        <h2 class="section-title">Create your review</h2>
        <section class="section section-center">
          <div class="wrapper wrapper_article">
            <article class="article form">
            <form action="/review/submit" method="POST">
              
   <ul class ="form-list">
     <div class="margin-bottom"> 

     <li class="form-list--item"> <p>Beer Name:</li> 
     <li class="form-list--item"><input type="text" name="beerName"></p> </li>
     </div>
              <div class="margin-bottom">
              <li class="form-list--item"><p>Brewery:</li>
              <li class="form-list--item"><input type="text" name="brewery"></p></li>
              </div>

              <div class="margin-bottom">
          <li class="form-list--item"> <p>Type of Beer (IPA, Lager, etc):</li>
          <li class="form-list--item"><input type="text" name="beerType"></p></li>
          </div>
        
              <div class="margin-bottom"> 
          <li class="form-list--item"> <p>Date you drank this: </li>
          <li class="form-list--item"><input type="date" name="date"></p></li>
      </div>
          
              <div class="margin-bottom"> 
              <li class="form-list--item"> <p>Rate this beer (5 is best):</p> </li>
              <li class="form-list--item"><div class="row radio">
              <p class="radio--item"><input type="radio" name="rating" value="1">1</p>
              <p class="radio--item"><input type="radio" name="rating" value="2">2</p>
              <p class="radio--item"><input type="radio" name="rating" value="3">3</p>
              <p class="radio--item"><input  type="radio" name="rating" value="4">4</p>
              <p class="radio--item"><input type="radio" name="rating" value="5">5</p>
              
                </div></li></div>

            <div class="margin-bottom"> 
              <li class="form-list--item"><p>Add your image URL:</li>
              <li class="form-list--item"><input type="text" name="imgUrl"></p></li>
            </div>
                
            
              <div class="margin-bottom"> 
  <li class="form-list--item"><p>Title your review:</li>
  <li class="form-list--item"><input type="text" name="title"></p></li>
  </div>
  <div class="margin-bottom"> 
<li class="form-list--item"><p>Give us a summary of your experience: </li>
<li class="form-list--item"><input type="text" name="review"></p></li>
</div>
                <div class="margin-bottom"> 
     <li class="form-list--item"> <button type="submit">Submit</button></li>
</div>
              </ul>
            </form>
        </article>
        </div>
        <!--close article wrapper-->
    </section>
</div>
<div class="box right">
    <h2 class="section-title">Stuff Right</h2>
    <section class="sidebar sidebar_right">
      Right
  </section>
</div>
</div>
<footer>footer</footer>






</main>

</body>

</html>